
h1{
    color:green;
    text-align: center;
    font-size: 40px;
}
img{
    float: right;
    border:3px dotted
}
p{
    font-style:Sans-Serif;
}
h2{
    color:rgb(218, 18, 51)
}
body{
    background-color: gainsboro;
}
h3{
    color:red;
    font-size: 22px;
}
.languages {
    color: rgb(158, 9, 151);
}
.hobbies{
    color:rgb(79, 148, 119);
    font-size: 18px;
}
.link{
    color:rgb(88, 102, 10)
}